.shuut-image-background {
  background-image: url("/DashboardShuut.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-position-y: -44%;
  background-position-x: 96%;
}

.shuut-iphone-bg {
    /* background-image: url("/iPhone14Pro.png"); */
    /* background-repeat: no-repeat; */
    /* background-position: center left; */
    /* background-position-y: -5%; */
    /* background-position-x: 20%; */
}