.shuut-image-background {
  background-image: url("/Group39923.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-position-y: -3%;
  background-position-x: 96%;
}

.shuut-iphone-bg {
  background-image: url("/iPhone14Pro.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-position-y: -5%;
  background-position-x: 20%;
}

.top-left {
  position: absolute;
  left: -1%;
  top: -7%;
}

.top-right {
  position: absolute;
  right: -1%;
  top: -7%;
}

.bottom-right {
  position: absolute;
  bottom: -7%;
  right: -2%;
}