.uplands-image-background {
    background-image: url("/Group3000.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-position-y: 10px;
    background-position-x: 95%;
  }
  