@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: LotaBold;
    src: url("/fonts/Los\ Andes\ Lota\ Grotesque\ Alt\ 2\ Bold.otf");
  }
  @font-face {
    font-family: LotaSemiBold;
    src: url("/fonts/Los\ Andes\ Lota\ Grotesque\ Alt\ 1\ Semi\ Bold.otf");
  }
  @font-face {
    font-family: LotaBlack;
    src: url("/fonts/Los\ Andes\ Lota\ Grotesque\ Alt\ 2\ Black.otf");
  }
  @font-face {
    font-family: LotaRegular;
    src: url("/fonts/Los\ Andes\ Lota\ Grotesque\ Alt\ 3\ Regular.otf");
  }
  @font-face {
    font-family: LotaThin;
    src: url("/fonts/Los\ Andes\ Lota\ Grotesque\ Alt\ 1\ Thin.otf");
  }
  @font-face {
    font-family: LotaThinItalic;
    src: url("/fonts/Los\ Andes\ Lota\ Grotesque\ Alt\ 1\ Thin\ Italic.otf");
  }
  @font-face {
    font-family: SofiaBlack;
    src: url("/fonts/Sofia\ Pro\ Black\ Az.otf");
  }
  @font-face {
    font-family: SofiaBold;
    src: url("/fonts/Sofia\ Pro\ Bold\ Az.otf");
  }
  @font-face {
    font-family: SofiaSemiBold;
    src: url("/fonts/Sofia\ Pro\ Semi\ Bold\ Az.otf");
  }
  @font-face {
    font-family: SofiaMedium;
    src: url("/fonts/Sofia\ Pro\ Medium\ Az.otf");
  }
  @font-face {
    font-family: SofiaRegular;
    src: url("/fonts/Sofia\ Pro\ Regular\ Az.otf");
  }
  @font-face {
    font-family: SofiaLight;
    src: url("/fonts/Sofia\ Pro\ Light\ Az.otf");
  }
  @font-face {
    font-family: SofiaExtraLight;
    src: url("/fonts/Sofia\ Pro\ ExtraLight\ Az.otf");
  }
  @font-face {
    font-family: SofiaUltraLight;
    src: url("/fonts/Sofia\ Pro\ UltraLight\ Az.otf");
  }
  @font-face {
    font-family: GraphikBold;
    src: url("/fonts/GraphikBold.otf");
  }
  @font-face {
    font-family: GraphikRegular;
    src: url("/fonts/GraphikRegular.otf");
  }
  @font-face {
    font-family: GraphikMedium;
    src: url("/fonts/GraphikMedium.otf");
  }
  @font-face {
    font-family: GraphikBlack;
    src: url("/fonts/GraphikBlack.otf");
  }
  @font-face {
    font-family: GraphikLight;
    src: url("/fonts/GraphikLight.otf");
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.moon {
  border-radius: 42px, 29px, 46px, 214px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000;
}

.background-layer {
  background-image: url("/LayerBg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-position-y: 100%;
}

/* DEMO-SPECIFIC STYLES */
.typewriter span {
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.knowmore {
  left: 20%;
}

@media only screen and (max-wdth: 640px) {
  .knowmore {
    left: 0% !important;
  }
}

.cta:hover {
  scale: 1.1;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

/* .shuut-iphone-bg {
  background-image: url("/iPhone14Pro.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-position-y: -5%;
  background-position-x: 20%;
} */

.hire-me {
  border-radius: 84.193px 59.163px 93.295px 432.343px;
  background: #00f0ff;
}

portfolio-item::after {
  transform: scaleX(0); /* Initially no underline */
  transition: transform 0.2s ease-in-out;
}

.brandOverviewSm::after{
  content: url("/effects/zigzag.svg");
  position: absolute;
  bottom: -42%;
  left: 4%;
}

.brandOverviewLg::after {
  content: url("/effects/zigzag.svg");
  position: absolute;
  bottom: -42%;
  left: 39%;
}

.brandOverviewMd::after {
  content: url("/effects/zigzag.svg");
  position: absolute;
  bottom: -42%;
  left: 32%;
}

.brandOverviewSmGreen::after{
  content: url("/effects/zigzaggreen.svg");
  position: absolute;
  bottom: -42%;
  left: 4%;
}

.brandOverviewLgGreen::after {
  content: url("/effects/zigzaggreen.svg");
  position: absolute;
  bottom: -42%;
  left: 39%;
}

.brandOverviewMdGreen::after {
  content: url("/effects/zigzaggreen.svg");
  position: absolute;
  bottom: -42%;
  left: 32%;
}