.quba-image-background {
    background-image: url("/QubaDashboard.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-position-y: -90%;
    background-position-x: 95%;
  }
  